{% extends '_base.twig' %}

{% set page_title = 'Home' %}

{# Override meta description and image like this: #}
{% set page_description = 'Page description' %}
{% set page_image = 'http://www.images.com/image.jpg' %}

{% block content %}
	<h1>Exercise Diary</h1>
{% endblock %}

{% block script %}
	<script>
		console.log( 'hi' );
	</script>
{% endblock %}
